/* Global styles */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.2);
}
.section-title{
    font-size: 40px;
    font-weight: 900;
}
.section-description{
    font-size: 16px;
    color: #444343;
}

/* Header section styles */
.cover{
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}
.main-title-container{
    border:0;
    width: 600px;
    height: fit-content;
    text-align: right;
    position: absolute;
    margin-right: 150px;
}
.cover-title{
    font-size: 60px;
    font-weight: 900;
    padding-top: 20px;
}
.cover-description{
    font-size: 16px;
    color: #444343;
    padding: 25px 0 30px 90px;
}
.main-title-container .btn-primary{
    background: linear-gradient(120deg,#FC9842,#FE5F75);
}

/* failure section styles */
.failure-section{
    display: flex;
    justify-content: space-around;
    padding: 100px 100px;
    align-items: center;
    margin-top: 60px;
}
.failure-container{
    width: 450px;
    height: auto;
}
.failure-container .section-description{
    padding: 25px 0;
}
.failure-container .check-mark-div{
    display: flex;
    flex-direction: column;
}
.failure-container .check-mark-sub-div{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 15px;
}
.failure-container img{
    width: 30px;
    height: auto;
    display: inline;
}
.check-mark-sub-div .check-mark-description{
    padding-left: 10px;
}
.img-container{
    width: 450px;
    height: 450px;
    border: 0;
    border-radius: 50%;
    background-color: #f78e65;
    margin: 100px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
.img-container img{
    width: auto;
    height: 599px;
    border-radius: 50%;
    margin-bottom: 157px;
    margin-right: 7px;
}

/* My plans section styles */
.my-plan{
    text-align: center;
    padding: 80px 120px;
}
.points-of-plan{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.points-of-plan .single-point h4{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
}
.points-of-plan .single-point p{
    color:#444343;
    font-weight: 600;
}

/* positive mindset section styles */
.positive-mindset{
    width: 70%;
    height: 230px;
    border: 0;
    margin: 50px 15% 100px 15%;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    padding-top: 20px;
}
.title-div{
    width: 350px;
    height: 170px;
    border: 0;
    margin: 30px 0 0 65px;
}
.title-div .title{
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-bottom: 15px;
}
.title-div .btn-primary{
    background-color: white;
    color: #FE5F75;
}

/* opinion section added */
.opinion-section{
    width: 70%;
    height: auto;
    border: 0;
    margin: 50px 15% 100px 15%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.opinion-container{
    width: 100%;
    height: auto;
    border: 0;
    background-color: #e5d8d1;
    padding: 30px 0;
    border-radius: 10px;
    text-align: center;
}
.opinion-container img{
    width: 40px;
    height: auto;
}
.question-container{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.question-container p{
    padding-top: 15px;
    font-size: 17px;
    font-weight: 600;
}
.question-container p strong{
    color: red;
}
.opinion-container form{
    padding-top: 30px;
}
.opinion-container form label{
    padding-right: 364px;
    font-weight: 600;
}
.opinion-container form textarea{
    margin: 5px 0 20px 0;
    padding: 15px 0 0 20px;
    border: 0;
    border-radius: 5px;
}
.opinion-container form span{
    color: red;
}
.opinion-container form input[type="button"]{
    width: 200px;
    height: 40px;
    font-size: 15px;
    background: linear-gradient(120deg,#FC9842,#FE5F75);
}

/* footer section styles */
footer{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    border: 0;
    background-color: black;
}
footer .future, .subscribe{
    color: white;
}
footer .future{
    width: 450px;
    height: fit-content;
    border: 0;
    margin: 70px 0 0 150px;
}
footer .subscribe{
    width: 250px;
    height: fit-content;
    border: 0;
    margin: 80px 180px 0 0 ;
}
.future .footer-title{
    font-size: 35px;
    font-weight: 700;
    padding: 20px 0 0 30px;
}
footer .future p{
    font-size: 15px;
    font-weight: 500;
    padding: 20px 0 0 30px;
}
footer .future p:last-of-type{
    padding-bottom: 20px;
}
footer .future a:first-of-type{
    font-size: 20px;
    padding: 20px 0 0 20px;
    text-decoration: none;
}
footer .future img{
    width: 35px;
    height: auto;
    padding-left: 10px;
}
footer .subscribe .footer-subscribe{
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0 20px 0;
}
footer .subscribe input[type="email"]{
    width: 80%;
    height: 35px;
    margin-bottom: 12px;
    padding-left: 13px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    color: white;
}
footer .subscribe input[type="button"]{
    font-size: 15px;
    color: #F15B22;
    box-shadow: 5px 5px 5px rgba(201, 198, 198, 0.2);
}